.cartao{
    display:flex ;
    justify-content: center;
    flex-wrap: wrap;
    width: 22%;
    padding: 1%;
    gap: 40px;
    font-size: 22px;
    text-align: center;
    flex: 0 1 300px;
    img{
        width: 250px;
    }
    p{
        color: black;
        font-size: 22px;
        text-align: center;
        max-width: 90%;
    }
}