
body{

  .chat-Ladinho{
    width: 20%;
    height: 100%;
  background-color: #A74100;
}

.chat-meinho{
  width: 50%;
  height: auto;
}

.Ladinho-usuario{
  width: 20%;
  background-color: #F4D490;
}

}