.Footer{
    flex-wrap: wrap;
    width: 100%;
}


.informacoes{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 10px;

    .icon_sociais{
        display: flex;
        justify-content: space-evenly;
    }
}

#logo_footer{
    margin: 10px;
}