.Footer{
    background-color: #A74100;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.descricao{
    display: flex;
    flex-direction: column;
    color: white;
    width: 35%;
    text-align: start;
    gap: 20px;
    
}