.cabecalho_nav{
    background-color: #A74100;
    margin: 0px;
}

.container_navegacao{
    display: flex;
    height: auto;
    justify-content: space-between;
}

.perfil_esquerda{
    background-color: #D69744;
    height: 900px;
    display: flex;
}


.mensagens{
    background-image: url("../../../../public/images/background_mensagem.png");
    width: 100%;
}

.perfil_direita{
    background-color: #F4D490;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 15%;
    gap: 10px;
}

#img_usuario{
    background-color: white;
    border-radius: 50px;
    padding: 15px;
    margin: 30px;
}
 

.h2_mensagens{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #BC936F;
    border-radius: 20px;
    width: 170px;
    text-align: center;
    padding: 10px;
    font-weight: 500;
    margin: 12px;
    margin-top: 20px;
    box-shadow: 0px 3px 10px black;
}