.cabecalho_nav{
    background-color: #A74100;
    margin: 0px;
    display: flex;
    align-items: center;
}


#opcao1{
    background-color: white;
    color: black;
    border-radius: 20px;
    position: absolute;
    left: 70%;
    width: 100px;
    height: 30px;
}

#opcao2{
    background-color: white;
    color: black;
    border-radius: 20px;
    position: absolute;
    left: 80%;
    width: 100px;
    height: 30px;
}

.container_navegacao{
    display: flex;
    height: auto;
    justify-content: space-between;
    height: calc(100vh - 60px);
}




.mensagens{
    background-image: url("../../../../public/images/background_mensagem.png");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.perfil_direita{
    background-color: #F4D490;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
    gap: 10px;
    padding-top: 7%;
}

#img_usuario{
    background-color: white;
    border-radius: 50px;
    padding: 15px;
    position: absolute;
    left: 90%;
    margin-top: 8%;
}
 

.h2_mensagens{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #BC936F;
    border-radius: 20px;
    width:100px;
    text-align: center;
    padding: 5px;
    font-weight: 500;
    font-size: 15px;
    box-shadow: 0px 3px 10px black;
    margin-top: 10px;
}