body {
  border: none;
  outline: none;
}

#body_home {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  width: 100%;
  height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(255, 174, 228, 1) 0%,
    rgba(244, 237, 229, 1) 41%
  );
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  border-radius: 0;

  //Logo e titulo 'lacos & patas'

  .Componentes_home {

animation: appear linear;
animation-timeline : view ();
animation-range: entry 0% cover 40%;

    padding: 4%;

    width: 100%;
    height: 40%;

    //display flex --- barra de inicio
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;

    #logo_home {
      width: 30%;
    }

    #a {
      width: 60%;
      color: #7d5434;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      font-size: 4.5rem;
    }
    #b {
      color: #ef937a;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      font-size: 4.5rem;
    }

    #a,
    #b {
      margin-top: 1%;
      padding-left: 10%;
      //padding-left: 10%;                  
      //margin: 4%;
    }
  }
.article_home{
  width: 50%;
  height: 40%;
}

.aside_home {
    width: 50%;
    height: 40%;

    display: flex;
    
    .font_reta {
      font-size: 12px;
      font-family: "inter", sans-serif;
      font-weight: 400;
      line-height: 1.5;

      
    }
    
    .botao{
      background-color: #ef937a;
      width: 10%;
    color: #000;
    font-size: 20px; 
    }

  }
.article_home,.aside_home{
  margin-top: 1%;
  padding: 3%;
}

}
