.Inicio_header{
    padding: 0.5%;
    display: flex;
    height: 120px;
    background-color: #F4EDE5;
    border: 3px solid #e5c8b0;
    align-items: center;
}

    .linkss{
        width: 85%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

  a{
    font-size: 20px;
    gap: 20px;
  }

@media (prefers-color-scheme: dark) {
  .Inicio_header {
    background: #faba66c2;
    color: white;
    border: 3px solid #e5c8b0;
  }
  a{
    width: 20px;
    color: rgb(255, 236, 249);
  }
}