#titulo_pesquisa{
    color: #EBA189;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    text-shadow: 1px 1px 1px black;
    font-size: 60px;
}

#barra_pesquisa{
    background-color: #EED7BF;
    border-radius: 100px;
    position: absolute;
    left: 40%;
    width: 300px;
    height: 30px;
    box-shadow: 2px 2px 5px black;
    border: none;
}

body{
    background-image: url("../../../../public/images/background_mensagem.png");
}