#titulo_pesquisa{
    color: #EBA189;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    text-shadow: 1px 1px 1px black;
    font-size: 55px;
}

#barra_pesquisa{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50vh;
    border-radius: 100px;
    padding: 5px;
}

body{
    background-image: url("../../../../public/images/background_mensagem.png");
}