#titulo_pesquisa {
  color: #EBA189;
  text-align: center;
  font-family: 'Fredoka One', cursive;
  text-shadow: 1px 1px 1px black;
  font-size: 55px;
}

#barra_pesquisa {
  display: block;
  margin: 20px auto;
  width: 50vh;
  border-radius: 100px;
  padding: 8px 15px;
  border: 2px solid #eba189;
  font-size: 16px;
  outline: none;
}

body {
  background-image: url("../../../../public/images/background_mensagem.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.lista-pets {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin-top: 30px;
}

.card-pet {
  background: #fff8f3;
  border: 3px solid #e5c8b0;
  border-radius: 15px;
  width: 250px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.img-pet {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.status, .erro {
  text-align: center;
  color: #333;
  font-weight: bold;
}

    #btn_voltar{
        background-color: #eee;
        width: 100px;
        height: 30px;
        border-radius: 30px;
    }